extends layout

block content

  div(class="container")
    h4(style="text-align:center; text:bord;") [#{update}] page
    hr
    div(style="height:500px;") #{description}
    hr
    table(class="table table-bordered")
        tr
            td(style="text-align:center;"): -if(delete_!=undefined)
                    form(action="/delete" method="post")
                        input(type="hidden" name="delId", value="#{delete_}")
                        input(type="submit" value="delete")
            td(style="text-align:center;"): -if(update!=undefined)
                    button(type="button" onclick="location.href='../update/#{update}'") update
    hr
    table(class="table")
      thead 
        tr
          th Number
          th Board List
          th Made by
      tbody
        -for(var i=0;i<title.length;i++)
          tr
            td #{i+1}
            td: a(href="../data/#{title[i].title}") #{title[i].title}
            td #{title[i].name}
    
    hr



















  
      

