extends layout


//- block content
//-   div.container
    

//-     header 
//-       h1 BOARD v1.0.0
//-       a(href="../auth/#{AuthStatusUI}") #{AuthStatusUI}
//-     section.content
//-       nav
//-         ul 
//-           -for (var i=0;i<title.length;i++)
//-             li: a(href="../data/#{title[i]}") #{title[i]}
//-       main 
//-         p #{description}
//-       aside 
//-         p: a(href="/") home
//-         p: a(href="../create") create
        -if(update!=undefined)
          p: a(href="../update/#{update}") update
//-         -if(delete_!=undefined)
//-           form(acthref="/"ion="../delete" method="post")
//-             input(type="hidden" name="delId", value="#{delete_}")
//-             input(type="submit" value="delete")
          
//-     footer

//-   extends ./layout.jade

block content
  
  nav(class="navbar navbar-expand-lg navbar-dark bg-dark")
    a(class="navbar-brand" href="/"): h3 TERAJOO
    button(class="navbar-toggler" type="button"
    data-toggle="collapse" data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup" aria-expanded="false" 
    aria-label="Toggle navigation") 
      span(class="navbar-toggler-icon")

    div(class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2" id="navbarNavAltMarkup")
      ul(class="navbar-nav mr-auto")
        li(class="nav-item active")
          a(class="nav-link" href="/") Home
          span(class="sr-only") (current)

        
        

    div(class="navbar-collapse collapse w-100 order-3 dual-collapse2" id="navbarNavAltMarkup")
      ul(class="navbar-nav ml-auto")
        li(class="nav-item dropdown")
          -if(AuthStatusUI==="logout")
            a(class="nav-link" href="/auth/#{AuthStatusUI}" role="button"
            aria-haspopup="false" aria-expanded="true") #{AuthStatusUI}
          -else 
            a(class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"
            aria-haspopup="false" aria-expanded="true") #{AuthStatusUI}
            div(class="dropdown-menu" aria-labelledby="navbarDropdown")
              a(class="dropdown-item" data-toggle="modal" data-target="#exampleModal") login
              a(class="dropdown-item" href="#") register
              div(class="dropdown-divider")
              a(class="dropdown-item" href="#") something to help
        hr
        form(class="form-inline")
          input(class="form-control mr-sm-2" type="search" placeholder="Search")
          button(class="btn btn-outline-success my-2 my-sm-0" type="submit") search  

          //- 로그인 페이지
    div(class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true")
      div(class="modal-dialog" role="document")
        div(class="modal-content")
            div(class="modal-header")
              h5(class="modal-title" id="exampleModalLabel") Login Page
              button(type="button" class="close" data-dismiss="modal" aria-label="Close")
                span(aria-hidden="true") &times;
            div(class="modal-body")
              form(action="/auth/login_process" method="post")
                div(class="form-group")
                  label(for="recipient-name" class="col-form-label") ID:
                  input(type="text" class="form-control" id="recipient-name" name="username")    
                div(class="form-group")
                  label(for="message-text" class="col-form-label") Password:
                  input(type="password" class="form-control" id="message-text" name="password")
                div(class="modal-footer")
                  button(type="button" class="btn btn-secondary" data-dismiss="modal") Close
                  input(type="submit" value="Login" class="btn btn-primary")

  hr(class="my-4")        



  div(class="container")
    h4(style="text-align:center; text:bord;") [#{update}] page
    hr
    div(style="height:500px;") #{description}
    hr
    table(class="table table-bordered")
        tr
            td(style="text-align:center;"): -if(delete_!=undefined)
                    form(action="/delete" method="post")
                        input(type="hidden" name="delId", value="#{delete_}")
                        input(type="submit" value="delete")
            td(style="text-align:center;"): -if(update!=undefined)
                    button(type="button" onclick="location.href='../update/#{update}'") update
    hr



















  
      

