extends layout

block content
  div.container
    header 
      h1 BOARD v1.0.0
      a(href="../auth/login") login
    section.content
      nav
        ul 
          -for (var i=0;i<title.length;i++)
            li: a(href="../data/#{title[i]}") #{title[i]}
      main 
        p #{description}
      aside 
        p: a(href="/") home
        p: a(href="./create") create
        -if(update!=undefined)
          p: a(href="../update/#{update}") update
        -if(delete_!=undefined)
          form(action="../delete" method="post")
            input(type="hidden" name="delId", value="#{delete_}")
            input(type="submit" value="delete")
          
    footer
      

