doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    title= 'TERAJOO\'s blog'
    link(rel='stylesheet', href='/stylesheets/chatstyle.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous")
    
  body
    nav(class="navbar navbar-expand-lg navbar-dark bg-dark")
      a(class="navbar-brand" href="/"): h3 TERAJOO
      button(class="navbar-toggler" type="button"
      data-toggle="collapse" data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" 
      aria-label="Toggle navigation") 
        span(class="navbar-toggler-icon")

      div(class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2" id="navbarNavAltMarkup")
        ul(class="navbar-nav mr-auto")
          li(class="nav-item active")
            a(class="nav-link" href="/") Home
              span(class="sr-only") (current)   
          li(class="nav-item")  
            a(class="nav-link" href="/board") Board
          -if(AuthStatusUI!="login")
            li(class="nav-item")  
              a(class="nav-link" href="/users") Users
          li(class="nav-item")
            a(class="nav-link" href="/users/board") UserBoard
          li(class="nav-item")
            a(class="nav-link" href="/chat") Chat
      div(class="navbar-collapse collapse w-100 order-3 dual-collapse2" id="navbarNavAltMarkup")
        ul(class="navbar-nav ml-auto")
          li(class="nav-item dropdown")
            -if(AuthStatusUI==="login")
              a(class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"
              aria-haspopup="false" aria-expanded="true") #{AuthStatusUI}
              div(class="dropdown-menu" aria-labelledby="navbarDropdown")
                a(class="dropdown-item btn btn-primary" data-toggle="modal" data-target="#loginmodal" data-whatever="@LOGIN") login
                a(class="dropdown-item btn btn-primary" data-toggle="modal" data-target="#registermodal" data-whatever="@REGISTER") register
                div(class="dropdown-divider")
                a(class="dropdown-item" href="#") something to help
            -else 
              a(class="nav-link" href="/auth/logout" role="button"
              aria-haspopup="false" aria-expanded="true") #{AuthStatusUI}
          hr
          form(class="form-inline" action="/find" method="post")
            input(class="form-control mr-sm-2" type="search" placeholder="Search" name="find_title")
            button(class="btn btn-outline-success my-2 my-sm-0" type="submit") search  

      //- 로그인 페이지
      div(class="modal fade" id="loginmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true")
        div(class="modal-dialog" role="document")
          div(class="modal-content")
              div(class="modal-header")
                h5(class="modal-title" id="exampleModalLabel") LOGIN PAGE
                button(type="button" class="close" data-dismiss="modal" aria-label="Close")
                  span(aria-hidden="true") &times;
              div(class="modal-body")
                form(action="/auth/login_process" method="post")
                  div(class="form-group")
                    label(for="recipient-name" class="col-form-label") ID:
                    input(type="text" class="form-control" id="recipient-name" name="username")    
                  div(class="form-group")
                    label(for="message-text" class="col-form-label") Password:
                    input(type="password" class="form-control" id="message-text" name="password")
                  div(class="modal-footer")
                    button(type="button" class="btn btn-secondary" data-dismiss="modal") Close
                    input(type="submit" value="Login" class="btn btn-primary")
      //- 회원가입 페이지
      div(class="modal fade" id="registermodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true")
        div(class="modal-dialog" role="document")
          div(class="modal-content")
              div(class="modal-header")
                h5(class="modal-title" id="exampleModalLabel") REGISTER PAGE
                button(type="button" class="close" data-dismiss="modal" aria-label="Close")
                  span(aria-hidden="true") &times;
              div(class="modal-body")
                form(action="/auth/register_process" method="post")
                  div(class="form-group")
                    label(for="recipient-name" class="col-form-label") ID:
                    input(type="text" class="form-control" id="recipient-name" name="username")    
                  div(class="form-group")
                    label(for="message-text" class="col-form-label") Password:
                    input(type="password" class="form-control" id="message-text" name="password")
                  div(class="form-group")
                    label(for="message-text" class="col-form-label") Nickname:
                    input(type="text" class="form-control" id="message-text" name="nickname")
                  div(class="modal-footer")
                    button(type="button" class="btn btn-secondary" data-dismiss="modal") Close
                    input(type="submit" value="register" class="btn btn-primary")


    hr(class="my-4") 
    block content
    
    footer(style="background-color:#000000; color:#ffffff")
      div(class="container")
        <br>
        div(class="row")
          div(class="col-sm-2" style="text-align: center; font-color:white")
            h5 Compyright &copy; 2020
            h5 terajh
          div(class="col-sm-1" style="text-align: font-color:white")
          div(class="col-sm-6" style="text-align: font-color:white")
            h5 페이지 소개
            h8 현재 페이지는 학습용 페이지입니다.

          div(class="col-sm-1" style="text-align:center; font-color:white") 
          div(class="col-sm-2" style=" font-color:white") 
            h4 by terajoo

  script(type='text/javascript' src="/socket.io/socket.io.js")
  script(type='text/javascript' src="/javascripts/script.js")
  script(src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous")
  script(src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous")
  script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous")
  //- script(type='text/javascript' src='/javascripts/script.js')
  
  
  script(type='text/javascript').
    $(()=>{
        const socket = io('');
        $('#chatForm').submit(()=>{
            socket.emit('chat message',$('#message').val());
            $('#message').val('');
            return false;
        });
        socket.on('chat message',(msg)=>{
          //- console.log($('#nickname').val())
          
          //- $('.myMsg').append($('<span>').text(#{user}));
          $('.myMsg').append($('<span class="msg">').text(msg));
          $('.myMsg').append($('<br>'));
          $('#chatLog').scroll()[0].scrollTop=$('#chatLog').scroll()[0].scrollHeight;
        });
    });
        