extends layout

block content
  div.container
    header 
      h1 BOARD v1.0.0
      a(href="../auth/#{AuthStatusUI}") #{AuthStatusUI}
    section.content
      nav
        ul
          -for (var i=0;i<title.length;i++)
            li: a(href="../data/#{title[i]}") #{title[i]}
      main
        div(style="color:red") #{description}
        form(action="login_process", method="post")
            p(style="text-align:left;") [ email ]
                <br><br>
                input(type="text",placeholder="email",
                 name="email")
            p(style="text-align:left;") [ password ]
                <br><br>
                input(type="password", placeholder="password",
                 name="pwd")
                <br><br>
                input(type="submit", value="Log in")
            
      aside 
        p: a(href="/") home
        p: a(href="/create") create
        
    footer
      

