
extends ./layout.jade

block content       
  div(class="container")
    
    h4(style="text-align:center; text:bord;") Update page [#{update}]
    hr
    form(action="/update_process", method="post")
      p(style="text-align:center;") new_title
          <br><br>
          input(type="hidden", name="old_title", value="#{update}")
          input(type="text",placeholder="new_title", 
          style="width:470px;", name="new_title" value="#{update}")
      p(style="text-align:center;") new_description
          <br><br>
          textarea(placeholder="new_description",
          style="width:470px; height:230px", name="new_description")
          <br>
          input(type="submit", value="update")


  




  
      



