extends layout


block content
  div(class="container")
    -if(usr=="")

    -if(usr!="")
        form(action="/users/board_process", method="post")
            table(class="form-group")
                tr: label(for="formGroupExampleInput") #{usr}
                tr
                  td: input(type="text", style="height:100px; width:900px; align:center;" class="form-control",name="description", id="formGroupExampleInput" placeholder="")
                tr
                  td: input(type="submit")

    table(class="table")
      thead 
        tr
          th name
          th comment
          th created
          th delete
      tbody
        -for(var i=0;i<title.length;i++)
          tr
            td #{title[i].username}
            td #{title[i].comment}
            td #{title[i]['date_format(created,\'%m-%d %T\')']}
            td
                form(action="/users/delete_comment", method="post")
                    input(type="hidden", name="id", value=`${title[i].id}`)
                    button(type="submit" class="btn btn-secondary btn-sm") delete
  hr  



















  
      

